# ENVIRONMENTS
catboost_env/
venv/
env/
*.pyd

# LARGE DATA FILES
*.csv
*.xlsx
*.json
*.zip
*.tar
*.gz

# MODEL WEIGHTS
*.pkl
*.bin
*.model
*.onnx
*.h5
*.joblib

# CATBOOST LOGS
catboost_info/
*.tsv
*.tfevents

# FRONTEND
node_modules/

# PYTHON
__pycache__/
*.pyc

# OS files
Thumbs.db
.DS_Store
